body {
    background-color: rgb(13, 17, 23);
    font-size: 16px;
    font-family: sans-serif;
}

.reserved_word {
    color: rgba(251, 119, 106, 255);
}

.function {
    color: rgb(172, 163, 238);
}

.unused_variable {
    color: rgb(183, 220, 255);
}

.variable {
    color: rgb(215, 230, 217);
}

.comment {

    color: rgb(87, 93, 101);
}

.module {
    color: rgb(245, 134, 45);
}

.attribute {
    color: blueviolet;
}

.string {
    color: rgba(154, 208, 253, 255);
}

.number {
    color: rgba(239, 167, 169, 0.646);
}

.operator {
    color: white;
}

.atom {
    color: rgba(156, 206, 250, 255);
}

.container {
    color: rgba(195, 228, 220, 255);
}

.regular_expression {
    color: red;
}